apiVersion: v1
kind: Secret
metadata:
  name: kiali
  namespace: {{ kiali.namespace }}
  labels:
    app: kiali
type: Opaque
data:
  username: {{ kiali.username | b64encode }}
  passphrase: {{ kiali.password | b64encode }}
